.typing-test {
    text-align: center;
    margin-top: 50px;
}

.typing-test p {
    font-size: 25px;
    margin-bottom: 25px;
}

.typing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.typing-test textarea {
    width: 500px;
    height: 100px;
    resize: none; /* 사용자가 화면에서 임의로 사이즈 조정을 하지 못하게 빗금 없애기*/
    border-radius: 5px;
    font-size: 25px;
    overflow: hidden; /* 스크롤바 숨기기 */
}

.character-img {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.result {
    margin-top: 25px;
}

.typing-test button {
    margin-top: 25px;
    padding: 10px 20px;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    background-color: lightblue;
    cursor: pointer;
}

.typing-test button:hover {
    background-color: darkblue;
    color: white;
}